
#main {
  display: flex;
  align-items: flex-start;
  height: 100%;
  font-size: 1.2rem;
}

input {
  border: none;
  background: none;
  color: white;
  font-size: 1.2rem;
  /* border: 1px solid green; */
  margin: 0.5rem;
  cursor: none;
}
input:focus {
  border: none;
  cursor: none;
}

ul {
  list-style: outside none none;
  /* border: 1px solid green; */
  margin: 0.5rem;
}

li {
  text-align: left;
  /* border: 1px solid green; */
}
